body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

#downloadButton {
    cursor:pointer; 
    margin-left: 10px; 
    width: 24px; 
    height: 24px;
}

#programs {
    max-width: 800px;
    margin: 0 auto;
}

.program {
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.program h2 {
    color: #007BFF;
}

.program p {
    color: #555;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    .program {
        padding: 10px;
    }
}